@fontePrincipal: sans-serfif;
@fontDoTitulo: Times New Roman, Times, serif;
@corDoTexto: #eeeeee;
@corDeFundo: #e7991d;

body {
    background-color: @corDeFundo;
    
    color: @corDoTexto;
}

h1 {
    font-family:@fontDoTitulo;
}